useDynLib(prefmod)
import("stats", "gnm", "colorspace")
export(patt.design)
export(pattPC.fit)
export(pattR.fit)
export(pattL.fit)
export(pattLrep.fit)
export(pattnpml.fit)
export(llbt.design)
export(llbt.fit)
export(llbtPC.fit)
export(checkMIS)
export(patt.worth)
export(llbt.worth)
export(plotworth)
export(expand.mat)
export(simPC)
S3method(print, pattMod)
S3method(print, pattNPML)
S3method(summary, pattNPML)
