## imported packages (with generics etc.)
import(
  "stats",
  "graphics",
  "psychotools",
  "partykit",
  "Formula"
)

export(
  ## Rasch tree tools
  "raschtree",

  ## Rating-Scale tree tools
  "rstree",

  ## Partial-Credit (and Rating-Scale) tree tools
  "pctree",

  ## Bradley-Terry tree tools
  "bttree",

  ## panel-generating visualization functions
  "node_profileplot",
  "node_regionplot",
  "node_raschplot",
  "node_effects",
  "node_btplot"

#  ## MPT tree tools
#  "mpttree",
#  "mptModel",
#  "node_mptplot"
)

## methods for raschtree objects
S3method("plot", "raschtree")
S3method("print", "raschtree")
S3method("worth", "raschtree")

## methods for rstree objects
S3method("plot", "rstree")
S3method("print", "rstree")

## methods for pctree objects
S3method("plot", "pctree")
S3method("print", "pctree")

## methods for bttree objects
S3method("plot", "bttree")
S3method("predict", "bttree")
S3method("print", "bttree")
S3method("worth", "bttree")

# ## methods for mpttree objects
# S3method("plot", "mpttree")
# S3method("print", "mpttree")

# ## methods for mptModel objects
# S3method("bread", "mptModel")
# S3method("estfun", "mptModel")
# S3method("reweight", "mptModel")
